# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-react
dist-electron
dist-ssr
*.local
python/API Keys/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python build artifacts
python/dist/
python/build/
python/*.spec

# Virtual environment (if you use one)
python/venv/

# Byte‐compiled / cache files
**/__pycache__/
*.py[cod]